header {
    border-bottom: 1px solid rgb(222, 222, 222);
    box-shadow: 0 0 8px rgb(222, 222, 222);
    padding: 8px 16px;
    min-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    width: 100px;
}

.nav-links,
.header-buttons {
display: flex;
gap: 9px;
}

ul.header-buttons{
    list-style-type: none;
}

/* li.nav-links{
    margin: 0 5px;
} */ 
/* gap property works on the container & places spacing between each flex item (eliminates need for margin, margin also 
put gaps on left & right but gap only gives spacing in between items ) */

.header-buttons a { 
    color: grey;
    text-decoration: none;
    border: 1px solid rbg(212, 212, 212);
    padding: 3px 16px;
}

.header-buttons a:hover {
    box-shadow: 0 0 5px rgb(65, 114, 238);
}